.comingsoon {
    margin-bottom: 105px;
}

.comingsoon_image_wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

@media only screen and (min-width: 576px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 991px) {
    .comingsoon {
        margin-bottom: 150px;
    }
}

@media only screen and (min-width: 1280px) {}

@media only screen and (min-width: 1536px) {}